.percent{
    width:100%;
    height:100%;
}

.container{
    display: grid;
    row-gap: 10px;
    column-gap: 5px;;
    grid-template-rows: 15% 65% 20%;
    grid-template-columns: 30% 70%;
    grid-template-areas: "a1 a1"
    "b1 b2"
    "c1 c1";
}

.a1 {grid-area:a1; background-color: blue;}
.b1 {grid-area:b1; background-color: red;}
.b2 {grid-area:b2; background-color: green;}
.c1 {grid-area:c1; background-color: pink;}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 71, 71);
    margin: 0;
    padding: 0;
    width: 100%;      
    height: 100%;     
}

.div1{
    overflow: auto;
}