.container {
    display: grid;
    grid-template-rows: 15% 75% 10%;
}

.a {
    grid-row: 1;
    background-color:darkred;
}

.b {
    grid-row: 2;
     background-color:white;
}

.c {
    grid-row: 3;
    background-color:darkred;
}

.percent{
    width:100%;
    height:100%;
}

.cent{
    display:flex;
    align-items:center;
    justify-content:center;
}

nav{
    color:white;
    height:8vh;
}

header img {
    height:115%;
    width:auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: darkred;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.structures {
    width: 55%;
    display:flex;
    flex-direction:column;
}

.box{
    border-bottom: 2px solid #ddd;
}

.box summary {
    padding: 20px 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.box summary:hover{
    background-color: rgb(251, 251, 168);
}

.content {
    display: flex;
    flex-direction: column;
}

.content a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    border-top: 2px solid #ddd;
}

.content a:hover {
    background-color: lightyellow;
}

footer {
    padding:5px 10px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}