.container {
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-rows: 15% 75% 10%;
}

.a {
    grid-row: 1;
    background-color:rgb(255, 71, 71);
}

.b {
    grid-row: 2;
    background-color:white;
}

.c {
    grid-row: 3;
    background-color:rgb(255, 71, 71);
}

.percent{
    width:100%;
    height:100%;
}

.cent{
    display:flex;
    align-items:center;
    justify-content:center;
}

nav{
    color:white;
    font-size:xx-large;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 71, 71);
}

.structures {
    width: 55%;
    display:flex;
    flex-direction:column;
}

.box{
    border-bottom: 2px solid #ddd;
}

.box summary {
    padding: 20px 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.content a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    border-top: 2px solid #ddd;
}

.content a:hover {
    background-color: lightyellow;
}

footer {
    padding:5px 10px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}