.percent{
    width:100%;
    height:100%;
}

.cent{
    display:flex;
    align-items:center;
    justify-content:center;
}

.highlight{
 position: relative;
 background-color:rgb(0, 17, 255);
 padding:0.1em 0.2em;
}
.container{
    display: grid;
    row-gap: 10px;
    column-gap: 5px;;
    grid-template-rows: 15% 65% 20%;
    grid-template-columns: 30% 70%;
    grid-template-areas: "a1 a1"
    "b1 b2"
    "c1 c1";
}

.a1 {grid-area:a1; background-color: darkred;}
.b1 {grid-area:b1; background-color: white}
.b2 {grid-area:b2; background-color: white;}
.c1 {grid-area:c1; background-color: white;}

.code{
    display:grid;
    grid-template-rows: 5% 90% 5%;
    overflow: auto;
}

.sectiontitle {
    background-color: rgb(255, 251, 6);
}

.ca{grid-row:1;}
.cb{grid-row:2;}
.cc{grid-row:3;}

header img{
    height:115%;
    width:auto;
}

body {
    font-family: Arial, sans-serif;
    background-color:darkred;
    margin: 0;
    padding: 0;
    width: 100%;      
    height: 100%;     
}

.highlight{
    background-color:yellow;
}

#high span{
    display:block;
    width:100%;
}

.full{
    width:100%;
}

